section.about 
	.section 
		.about__wrapper
			h2.about__tite.title FASHION Лаборатория «AnnaBell»
			p.about__descr Мы — это единственная в своём роде школа дизайнеров и модельеров одежды, которая предоставляет профессиональное дополнительное обучение для людей желающих связать свою жизнь с творчеством и fashion индустрией.
			img(src="img/about.png", alt="FASHION Лаборатория «AnnaBell»")