section.author
	.section
		.author__wrapper
			.author__info 
				.author__founder основательница fashion лабаратории «ANNABELL»
				p.author__quote Мы верим, в то, что у нас в Казахстане очень много талантливых людей, которые могут поднять конкурентно-способность страны в модной индустрии. Наша задача — помочь им в этом! Наша миссия — сделать мечту доступной! Наша цель — это выпускать квалифицированных специалистов, которые пополнят ряды модельеров и конструкторов Казахстана.
				cite.author__name Анна Сметанина
			img(src="img/author.png", alt="")