section.courses
	.section 
		.courses__title.title Курсы
		.courses__wrapper
			.courses__item 
				.courses__info 
						h3.courses__info-title Курс конструирования и моделирования одежды «Кутюрье»
						p.courses__info-duration #[span Продолжительность:] 12 месяцев
						p.courses__info-descr Для тех, кто мечтает быть дизайнером одежды и придумывать шедевры швейного мастерства.
				div.courses__price 
					span.courses__price-old 400 000 ₸
					span.courses__price-current 200 000 ₸
				a(class="courses__info-btn btn btn--secondary" href="#") Записаться
			.courses__item 
				.courses__info 
						h3.courses__info-title Первый профессиональный курс «Fashion-иллюстрации» в Караганде
						p.courses__info-duration #[span Продолжительность:] 12 месяцев
						p.courses__info-descr Всего за пять занятий Вы научитесь рисовать моделей, одежду, изучите различные стили и техники в fashion-иллюстрации.
				div.courses__price
					span.courses__price-current 500 000 ₸
				a(class="courses__info-btn btn btn--secondary" href="#") Записаться
			.courses__item 
				.courses__info 
						h3.courses__info-title Курс технологии пошива легкой одежды
						p.courses__info-duration #[span Продолжительность:] 12 месяцев
						p.courses__info-descr Обширный, практический курс, охватывающий все процессы создания лёгкой одежды от самого начала, до результата.
				div.courses__price
					span.courses__price-old 400 000 ₸
					span.courses__price-current 200 000 ₸
				a(class="courses__info-btn btn btn--secondary" href="#") Записаться
			.courses__item 
				.courses__info 
						h3.courses__info-title Курс технологии пошива верхней одежды
						p.courses__info-duration #[span Продолжительность:] 12 месяцев
						p.courses__info-descr На этом курсе вы досконально изучите тонкости технологической обработки верхней одежды, и под руководством педагога, отошьёте своё первое пальто по вашему эскизу.
				div.courses__price
					span.courses__price-old 400 000 ₸
					span.courses__price-current 200 000 ₸
				a(class="courses__info-btn btn btn--secondary" href="#") Записаться