- 
	var data=[
		{
		'title':'развитие', 
		'descr': 'Наши преподаватели постоянно развиваются и повышают квалификацию в своих направлениях для того, чтобы дать вам достойный уровень знаний.', 
		'icon':'img/sprite.svg#book', 
		},
		{
		'title':'Уникальные методики', 
		'descr': 'Наши методики основаны на последних тенденциях и разработках в сфере образования, запоминания и развитии аналитического и творческого мышления.', 
		'icon':'img/sprite.svg#scheme', 
		},
		{
		'title':'Комфортные условия', 
		'descr':'Наши учебные комнаты и мастерские оснащены новейшим оборудованием. Мы сможем подобрать удобный для вас график и форму обучения.', 
		'icon':'img/sprite.svg#sun', 
		},
		{
		'title':'От новичка до профессионала', 
		'descr':'У нас вы сможете подобрать для себя курс соответствующий вашему уровню знаний, начинающий ли вы или уже профессионал желающий повысить квалификацию.', 
		'icon':'img/sprite.svg#trend', 
		},
		{
		'title':'Атмосфера', 
		'descr':'Обучаем с легкостью, даем максимально необходимые знания и навыки, с нами вы откроете и разовьёте свой талант, погрузитесь в атмосферу творчества, получите заряд вдохновения.', 
		'icon':'img/sprite.svg#smile', 
		},
		{
		'title':'Поддержка', 
		'descr':'В дальнейшем наша школа-студия помогает нашим ученикам в работе над своими проектами и консультацией.', 
		'icon':'img/sprite.svg#handshake', 
		}
	]

section.features
	.section
		h2.features__title.title Почему мы?
		.features__wrapper
			each item in data
				.features__item
					span.features__icon 
						svg 
							use(xlink:href= item.icon)
					.features__info
						h3.features__info-title= item.title 
						p.features__info-descr= item.descr