footer.footer
	.section 
		.footer__wrapper
			.footer__left
				p.footer__copyright annabell.kz © 1993 — 2022
				a(class="footer__logo" href="#")
					img(src="img/logo.png", alt="Логотип")
			a(class="top-btn" href="#")
				<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.69672 7.05328L7 1.75L12.3033 7.05328" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M7 14.25V1.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>

	+inc('js','front.js',true)(type="module")