- 
	var data=[
		{
		'title':'Профессия Fashion-дизайнер', 
		'descr': 'Поймёте, как устроена индустрия и что должен уметь дизайнер. Выберете нишу, в которой хотите развиваться. Разработаете коллекцию и сделаете первый шаг к карьере fashion-дизайнера.', 
		'img':'img/hero-1.png', 
		},
		{
		'title':'500 000 тенге —зарплата начинающего специалиста', 
		'descr': 'Благодаря тренду на осознанное потребление всё больше людей отказываются от масс-маркета в пользу локальных брендов. Поэтому сейчас лучшее время, чтобы раскрыть свой творческий потенциал и запустить собственную линейку одежды.', 
		'img':'img/hero-2.png', 
		},
		{
		'title':'Хотите создавать собственные модели одежды?', 
		'descr': 'Начните постигать азы самой интересной профессии вместе с нами. Мы проведём вас от новичка профессионала. С нами вы погрузитесь в атмосферу творчества и вдохновения.', 
		'img':'img/hero-3.png', 
		},
		{
		'title':'интересна FASHION индустрия? ХОЧЕТСЯ СМЕНИТЬ ПРОФЕССИЮ?', 
		'descr': 'Fashion-дизайнеры — это визионеры, которые определяют моду будущего. Талантливые специалисты устраиваются на работу в крупные компании и основывают свои бренды.', 
		'img':'img/hero-4.png', 
		},
		{
		'title':'Преврати увлечение модой в блестящую карьеру или бизнес', 
		'descr': 'Благодаря тренду на осознанное потребление всё больше людей отказываются от масс-маркета в пользу локальных брендов. Поэтому сейчас лучшее время, чтобы раскрыть свой творческий потенциал и запустить собственную линейку одежды.', 
		'img':'img/hero-5.png', 
		},
	]

section.hero 
	.hero__wrapper
		.section
			.hero-slider
				.swiper-wrapper
					each item in data
						.swiper-slide 
							.hero-slider__item 
								.hero-slider__info
									h2.hero-slider__title= item.title
									p.hero-slider__descr= item.descr
									a(class="hero-slider__btn btn btn--primary" href="#") Подробнее
								img(class="hero-slider__img" src= item.img)
				.swiper-pagination
				.swiper-button-prev
					svg 
						use(xlink:href="img/sprite.svg#prev-btn")
				.swiper-button-next
					svg 
						use(xlink:href="img/sprite.svg#next-btn")