section.portfolio
	.section
		h2.portfolio__title.title Портфолио
		.portfolio__wrapper
			.portfolio-slider
				.swiper-wrapper
					.swiper-slide
						a(class="portfolio__link" href="#")
							.portfolio__item
								.portfolio__item-front 
									img(class="portfolio__item-img" src="img/portfolio-1.png", alt="")
								.portfolio__item-back
									h3.portfolio__item-title Современная мастерская
									p.portfolio__item-descr Мир не стоит на месте, и мы постоянно развиваемся вместе с ним, поэтому в нашей мастерской только новое и самое лучшее швейное оборудование.
									span(class="portfolio__item-link") Подробнее
					.swiper-slide
						a(class="portfolio__link" href="#")
							.portfolio__item
								.portfolio__item-front 
									img(class="portfolio__item-img" src="img/portfolio-2.png", alt="")
								.portfolio__item-back
									h3.portfolio__item-title Раз и навсегда с нами
									p.portfolio__item-descr После окончания курсов все участники получают собственный профиль в разделе «Фешн-сообщество», где вы сможете демонстрировать свои новые работы и делиться опытом.
									span(class="portfolio__item-link") Подробнее
					.swiper-slide
						a(class="portfolio__link" href="#")
							.portfolio__item
								.portfolio__item-front 
									img(class="portfolio__item-img" src="img/portfolio-3.png", alt="")
								.portfolio__item-back
									h3.portfolio__item-title Методика «Любакс»
									p.portfolio__item-descr Мы научим вас универсальной системе кроя «Любакс» — авторский метод моделирования и конструирования одежды, изобретенный Любовью Аксеновой.
									span(class="portfolio__item-link") Подробнее
					.swiper-slide
						a(class="portfolio__link" href="#")
							.portfolio__item
								.portfolio__item-front 
									img(class="portfolio__item-img" src="img/portfolio-4.png", alt="")
								.portfolio__item-back
									h3.portfolio__item-title Поддержка и помощь
									p.portfolio__item-descr После обучения всем нашим ученикам предоставляется помощь и поддержка в дальнейшем развитии, реализации своих идей и задумок, также ученицы участвуют в наших показах.
									span(class="portfolio__item-link") Подробнее
				.portfolio__navigation
					.swiper-button-prev
						<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.05328 12.3032L1.75 6.99994L7.05328 1.69666" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M14.25 7L1.75 7" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					.swiper-pagination
					.swiper-button-next
						<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.94672 1.69678L14.25 7.00006L8.94672 12.3033" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M1.75 7L14.25 7" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
