section.team
	.section 
		h2.team__tite.title Наша команда
		.team__wrapper
			.team__item 
				img(class="team__img" src="img/team-1.png", alt="")
				h3.team__name Анна Ахматова
				span.team__prof Старший преподаватель
				p.team__decsr Лаборатория Моды «AnnaBell» является официальным представителем Московской школы «ЛюбАкс» в Карагандинской и Восточно-Казахстанских областях. Это даёт нам возможность и право официально обучать своих студентов скоростному методу кроя и выдавать сертификаты с присвоением квалификации «Модельер-конструктор любых видов одежды».
			.team__item 
				img(class="team__img" src="img/team-2.png", alt="")
				h3.team__name Валентина попова
				span.team__prof Модельер-технолог
				p.team__decsr Наши курсы предназначены для тех, кто хочет получить и/или улучшить навыки в области создания моделей. Для тех, кто хочет воплотить свои идеи в реальность, создавать модные коллекции или просто шить для себя и своих близких. вы можете быть, как домохозяйкой, студенткой, так и бизнес-леди или опытной швеёй. Наши курсы подходят для всех возрастов и доступны всем.
			.team__item 
				img(class="team__img" src="img/team-3.png", alt="")
				h3.team__name Екатерина андреева
				span.team__prof Фешн-иллюстратор
				p.team__decsr Лаборатория Моды «AnnaBell» является официальным представителем Московской школы «ЛюбАкс» в Карагандинской и Восточно-Казахстанских областях. Это даёт нам возможность и право официально обучать своих студентов скоростному методу кроя и выдавать сертификаты с присвоением квалификации «Модельер-конструктор любых видов одежды».
			.team__item 
				img(class="team__img" src="img/team-4.png", alt="")
				h3.team__name Оксана ДИМИДОВА
				span.team__prof Модельер-технолог
				p.team__decsr Наши курсы предназначены для тех, кто хочет получить и/или улучшить навыки в области создания моделей. Для тех, кто хочет воплотить свои идеи в реальность, создавать модные коллекции или просто шить для себя и своих близких. вы можете быть, как домохозяйкой, студенткой, так и бизнес-леди или опытной швеёй. Наши курсы подходят для всех возрастов и доступны всем.