extends template/main
append vars
	-
		page_title= 'Main'
block content
	main.main
		include template/hero
		include template/portfolio
		include template/about
		include template/features
		include template/author
		include template/team
		include template/courses
		include template/contact